.error {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;

	&::before {
		background: var(--secondary-glow);
		border-radius: 50%;
		width: 480px;
		height: 360px;
		margin-left: -400px;
	}

	&::after {
		background: var(--primary-glow);
		width: 240px;
		height: 180px;
		z-index: -1;
	}

	&::before,
	&::after {
		content: '';
		left: 50%;
		position: absolute;
		filter: blur(45px);
		transform: translateZ(0);
	}

	h2 {
		margin-bottom: 20px;
		text-align: center;
		line-height: 32px;
	}

	a {
		padding: 12px 16px;
		background-color: rgba(var(--callout-rgb), 0.5);
		border: 1px solid rgba(var(--callout-border-rgb), 0.3);
		border-radius: var(--border-radius);
	}
}
